build/*
libs/*
deploy/*
vortrac
vortrac.xcodeproj/*
src/build/*
src/vortrac.xcodeproj/*
src/.qmake.stash
moc_*
#qrc_*
Info.plist
.svn
.DS_Store
profile
Makefile
*.app
*.o


# cmake

.qt
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.tests
vortrac_autogen
